<html>
<head>
<!--eBay V3- msxml 6.0 XXXXXXXXXXXXXXXXXXXXXXXXXX-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><!--srcId: ChangeEmail-->
<title>eBay: Change</title>
<script language="JavaScript"><!--
	function initFocus() {
		var form = document.ChangeEmail;
		if(form !=null)
		{
			if(form !=null)
			{
				for (var i = 0; i < form.elements.length; i++){
					var el = form.elements[i];
					f (el.type == 'text')
					{
						el.focus();
						return;
					}
				}
			} 
		} 
	} 								
							//	-->
</script>
</head>

<body bgcolor="#ffffff" style="color:#5d5d5d; font-size:x-small;" onload="initFocus();">
	<div class="pagewidth">
		<div class="pageminwidth">
			<div class="pagelayout">
				<div class="pagecontainer">
					<!-- Begin eBay Header --><!--2014-11-19 13:36:52,,, eog4d71f+4f62,RcmdId ChangeEmail,RlogId p4pfan%60jtb9%3Feog4d71f%2B4f62-14a0f6509f5-0x111-->
					<div>
						<script type="text/javascript">var _GlobalNavHeaderUtf8Encoding=true,includeHost='https://secureinclude.ebaystatic.com/';</script><script src="https://secureir.ebaystatic.com/v4js/z/i5/r32gctn0fu3vjkpge2mjhij3q.js"></script>
						<script src="https://secureinclude.ebaystatic.com/js/e887/us/ebaybase_v4_e8872us.js"></script>
						<script src="https://secureinclude.ebaystatic.com/js/e867/us/ebaysup_e8672us.js"></script>
						<script type="text/javascript">if(document.documentMode != 8 && document.compatMode != "CSS1Compat") ebay.oDocument._getControl("headerCommon")._exec("writeStyleSheet");</script>
						<link href="https://secureir.ebaystatic.com/rs/v/kho3eacddu3k3gs0xqzg2kgulus.css?proc=DU:N" type="text/css" rel="stylesheet">
						<div class="gh-acc-exp-div"><a id="gh-hdn-stm" class="gh-acc-a" href="#mainContent">Skip to main content</a></div>
						<!--[if lt IE 9]><div id="gh" class="gh-IE8 gh-flex gh-w gh-minH no-touch "><![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
						<div id="gh" class="gh-flex gh-w gh-minH no-touch ">
							<!--<![endif]-->
							<table class="gh-tbl">
								<tbody>
									<tr>
										<td class="gh-td">
											<!--[if lt IE 9]><a href="http://www.ebay.com/" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img width="117" height="120" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="https://secureir.ebaystatic.com/rs/v/apstidvcvu5pxlbxkphrrdo5iqv.png" id="gh-logo"></a><![endif]--><!--[if (gte IE 9)|!(IE)]><!-->
											<a href="http://www.ebay.com/" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="https://secureir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a>
											<!--<![endif]-->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--ts:2014.12.02.17:00--><!--rq:--><!--rvr:59rc5-->
						<script src="https://secureir.ebaystatic.com/rs/v/wl2xdecymuyehlztst314glbxi3.js" type="text/javascript"></script>
						<script type="text/javascript">GH = {init:function(){},log:function(){}};</script>
						<script type="text/javascript">
							if (typeof GH != "undefined" && GH) {GH_config = {"siteId":"0","geoLang":"[]",sin:1,ct:0,pageId:109,notifCfg:null,catURL:'https://secureinclude.ebaystatic.com/categoryjs/110/en_US_MAIN/category_110en_US_MAIN0.js',impId:'AZQejTYU*'};GH.init();}
						</script>
						<script type="text/javascript">var RoverDomainBaseUrl = 'https://rover.ebay.com';var svrGMT = 1417597487621;var scbps=0;var scPageName='ChangeEmail:109';</script>
					</div>
					<!--@sghp@ headerStyle=MIN:SECURE::NOSKIPLINK @eghp@--><!-- End eBay Header -->
					<link rel="stylesheet" type="text/css" href="https://secureinclude.ebaystatic.com/css/e901/us/signin/signinyukon_SSL_e9011us.css">
					<script type="text/javascript" language="JavaScript1.1"><!--
						ebay.oDocument.oPage.createConfig = function()
						{
						var c = ebay.oDocument.addConfig(new EbayConfig("Security.Gif.Audio.Challenge"));
						c.sBotRefreshLinkId = "linkBotRefresh";
						c.sBotListenLinkId = "linkBotListen";
						c.sBotFrameId = "frameBot";
						c.sTokenStringId = "tokenstring";
						c.sTokenStringQueryParamName = "tokenString";
						c.sTokenTextId = "tokentext";
						c.sTokenDefTxt = " ";
						c.sBotIframeUrl = "https://scgi.ebay.com/ws/eBayISAPI.dll?FetchCaptchaToken&parentPage=ChangeEmail&siteid=0&co_brandId=2&ej2child=true"; // secured or non secured iframe url (should be in same sub domain of parent page)
						c.sAudioHelpPopupUrl = "https://scgi.ebay.com/ws/eBayISAPI.dll?ShowAudioChallengePage&parentPage=ChangeEmail&siteid=0&co_brandId=2"; // secured or non secured iframe url  (should be in same sub domain of parent page)
						c.sAudioHelpPopupWidth= "475";
						c.sAudioHelpPopupHeight= "325";
						c.sFormId = "ChangeEmail"; //form name
						}
						ebay.oDocument.oPage.createConfig();
						//-->
					</script>
					<script src="https://secureinclude.ebaystatic.com/js/e901/us/features/my_ebay/my_account/change_email_e9012us.js"> </script>
					<form action="/editEmail" name="ChangeEmail" method="post" id="ChangeEmail" style="padding:0;margin:0;">
						<input type="hidden" name="MfcISAPICommand" value="ChangeEmailShow">
						<input type="hidden" name="userid" value="">
						<input type="hidden" name="pass" value="">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#5d5d5d; font-size:x-small; font-weight:bold; ">
											<tbody>
												<tr>
													<td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="10px" alt=" "></td>

												</tr>
												<tr>
													<td style="padding-left:14px">
														<a name="mainContent"></a><h1 class="headerAccessYukon">Update your email address</h1>
													</td>
												</tr>
												<tr>
													<td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="25px" alt=" "></td>
												</tr>
											</tbody>
										</table>
										<table cellpadding="0" width="100%" border="0">
											<tbody>
												<tr>
													<td valign="top"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="15" height="1" alt=" "> 
													We have <%= session.user.Person_email %> on file as your email address.
													</td>
												</tr>
												<tr>
													<td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="25" alt=" "></td>
												</tr>
											</tbody>
										</table>
										<div class="signinyukon-rcp">
											<div class="signinyukon-n">
												<div class="signinyukon-e">
													<div class="signinyukon-w"></div>
												</div>
											</div>
											<div class="signinyukon-mid">
												<h2 class="titleYukon" style="margin:-1px 0">Enter your new email address</h2>
												<table cellspacing="0" cellpadding="0" width="100%" border="0">
													<tbody>
														<tr>
															<td rowspan="4" width="10"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
															<td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="10px" alt=" "></td>
														</tr>
														<tr>

														</tr>
														<tr>
															<td><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="20px" alt=" "></td>
														</tr>
														<tr>
															<td valign="top">A valid email address is required to bid, buy and sell with us.</td>
														</tr>
													</tbody>
												</table>
												<table cellpadding="0" width="100%" border="0">
													<tbody>
														<tr>
															<td align="left" width="2%" height="20"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
														</tr>
													</tbody>
												</table>
												<table cellspacing="0" cellpadding="0" border="0">
													<tbody>
														<tr>
															<td align="left" width="10"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
															<td valign="top" align="left">
																<span><b>
																	<label for="newemail">Enter new email address</label>
																</b></span>
																<img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="10" height="1" alt=" ">
															</td>

									<!-- enter new email here................... -->						
															<td align="left"><input type="text" size="30" maxlength="64" name="newemail" value="" id="newemail"></td>
														</tr>
														<tr>
															<td colspan="3"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="10" alt=" "></td>
														</tr>
														<tr>
															<td align="left" width="4"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>

									<!-- re-enter new email here................... -->						
															<td valign="top">
																<span>
																	<b><label for="retypeemail">Re-enter new email address</label></b>
																</span><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="10" height="1" alt=" ">
															</td>
															<td><input type="text" size="30" maxlength="64" name="retypeemail" value="" id="retypeemail" onpaste="return false" oncopy="return false"></td>
														</tr>
														<tr>
															<td colspan="3"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="25" alt=" "></td>
														</tr>
													</tbody>
												</table>
												<table cellspacing="0" cellpadding="0" width="100%" border="0">
													<tbody>
														<tr>
															<td rowspan="3"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="10" height="1" alt=" "></td>
															<td valign="top" class="field" nowrap="" style="padding-bottom:10px;" colspan="2"><a name="botblockertext"></a></td>
														</tr>
														<tr>
															<td width="100%" class="PdgRight"><b class="g-hdn"><label for="tokentext">Verification Code</label></b><input type="hidden" name="tokenstring" maxlength="6" value="fPrMEQoAAAA%3D" id="tokenstring">&nbsp;</td>
														</tr>
														<tr>
														</tr>
													</tbody>
												</table>
												<table cellspacing="0" cellpadding="0" width="100%" border="0">
													<tbody>
														<tr>
															<td colspan="2"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="15" alt=" "></td>
														</tr>
														<tr>
															<td align="left" width="10"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" alt=" "></td>
															<td valign="top">
																<button type="submit" class="SIActBtn"><span class="btn"><span class="btn">Continue</span></span></button>
															</td>
														</tr>
														<tr>
															<td colspan="2"><img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="10" alt=" "></td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="signinyukon-s">
												<div class="signinyukon-e">
													<div class="signinyukon-w"></div>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>						
					</form>
					<form action="/toHomepage" name="toHomepage" method="get" id="toHomepage" style="padding:0;margin:0;">
							<button type="submit" class="SIActBtn"><span class="btn"><span class="btn">Homepage</span></span></button>
					</form>
						
					<img src="https://srv.main.ebayrtm.com/clk?RtmCnv&amp;g=a0bf84291490a2aec83d5a71fff09ad4&amp;;src=903474;type=chng_e;cat=0;qty=1;cost=0.00;u=1191305334;ord=487105?" width="1" height="1" border="0" alt=" ">
					<img src="https://securepics.ebaystatic.com/aw/pics/s.gif" width="1" height="15" alt=" ">
					<script type="text/javascript" language="JavaScript" xmlns:bx="http://www.ebay.com/2004/bex">
						ebay.oDocument.oPage.createConfig = function() {var  c = ebay.oDocument.addConfig(new EbayConfig('EBX.CrossLinking'));c.sLayer='ebx_layer';c.sHTML='<table align="center" style="border:2px solid #0098CF; margin-bottom: 15px;" width="85%" cellpadding="0" cellspacing="0" bgcolor="#EDF9FF"><tr valign="middle"><td width="36" style="padding: 0 10px 0 10px;"><img align="middle" alt=" " src="https://securepics.ebaystatic.com/aw/pics/icon/iconInfo_16x16.gif" /></td><td width="80%" nowrap="nowrap" style="padding-right:10px" >You\'ve left eBay Express.</td><td align="left" nowrap="nowrap"><a href="http://www.express.<#1#>/">Shop again on eBay Express</a><span style="margin:0 10px 0 10px;">|</span><img align="bottom" src="https://securepics.ebaystatic.com/aw/pics/express/icons/iconCart_15x10.gif" alt=""/> <a href="http://cart.express.<#1#>/ws/eBayISAPI.dll?ExpressCart&action.view=&from=Header">Shopping Cart<#2#></a></td><td width="135" nowrap="nowrap" style="padding: 0 20px 0 20px;"><img align="top" src="https://securepics.ebaystatic.com/aw/pics/express/logos/logoExpress_95x39.gif" alt=""></img></td><td nowrap="nowrap" width="26" align="left"><a href="#1" id="b_close" name="b_close"><img align="middle" border="0" src="https://securepics.ebaystatic.com/aw/pics/buttons/btnExpressClose.gif" alt="" ></img></a></td></tr></table>';c.sCartCountText=' (<#1#>)';c.sClose='b_close';c.aHost={'0':'ebay.com','77':'ebay.de','2':'ebay.co.uk','15':'ebay.com.au'};c.aHideOnParams=["fromebxris=1", "fromebxrisZ1"];} ;ebay.oDocument.oPage.createConfig();
					</script>
					<!--Begin eBay Footer--><!--ts:2014.12.02.17:01--><!--rq:--><!--rvr:59rc5--><!--@sgfp@ footerStyle=MIN:SSL @egfp@-->
				</div>
			</div>
		</div>
	</div><!--End eBay Footer-->
</body>
</html>