<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>MyYELP</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="home" href="/home">Home</a></span>

<% if (user) { %>
  <span><a title="New Category" href="/newcate">New Category</a></span>
  <span><a title="Delete Category" href="/delcate">Delete Category</a></span>
  <span><a title="New Place" href="/post">New Place</a></span>
  <span><a title="Log out" href="/logout">Log Out</a></span>
  <span><a title="My Account" href="/myaccount">My Account</a></span>
<% } else { %>
  <span><a title="Log In" href="/login">Log in</a></span>
  <span><a title="Register" href="/reg">Register</a></span>
<% } %>
</nav>

<article>

<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>