<!DOCTYPE html>
<html>
  <head>
    <title>Administrator Homepage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <style>
  body {
  	font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  	color: #404040;
  	background:;
  }
  .container {
  	margin: 80px auto;
  	width: 640px;
  }
  </style> 
  
  <script>
  	
  </script>
  </head>
  <body>
  	<div id="gh" class="gh-flex gh-w gh-minH no-touch ">
		<table class="gh-tbl">
			<tbody>
				<tr>
					<td class="gh-td">
						<a class="iclg" _sp="m570.l2586" id="gh-la"><img width="117" height="120" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="https://secureir.ebaystatic.com/rs/v/apstidvcvu5pxlbxkphrrdo5iqv.png" id="gh-logo"></a>
						<a class="iclg" _sp="m570.l2586" id="gh-la"><img width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="https://secureir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
  	<section class = "container">
  		<div class = "home">
  			<h1>ebay</h1>
        </div>       
        
        <form method="get" action="/listPerson">
  		<p><input class = "listP" type = "submit" name = "listP" value = "List All Person"/>
  		</p>
  		</form>
  		<form method="get" action="/listSeller">
  		<p><input class = "listS" type = "submit" name = "listS" value = "List All Seller"/>
  		</p>
  		</form>
  		<form method = "get" action = "/deleteC">
  		<p><input class = "deleteC" type = "submit" name = "deleteC" value = "Delete Customer"/>
  		</p>
  		</form>
  		<form method = "get" action = "/deleteS">
  		<p><input class = "deleteS" type = "submit" name = "deleteS" value = "Delete Seller"/>
  		</p>
  		</form>
  		
  		<form method="get" action="/signOut_admin">
  		<p><input class = "signOut" type = "submit" name = "signOut" value = "Sign Out"/>
  		</p>
  		</form>
  	</section>
  </body>
</html>